<div>
  <%= note.body %>
</div>
<div>
  noted by <%= note.user.email %>
</div>
<% if note.user_id == current_user.id %>
  <form action="/tracks/<%= track.id %>/notes/<%= note.id %>" method="post">
    <input type="hidden" name="_method" value="DELETE">

    <input type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

    <input type="submit" value="Delete">
  </form>
<% end %>
