<h1><%= @band.name %></h1>
<% if @band.albums.any? %>
  <ul>
    <% @band.albums.each do |album| %>
      <li>
        <%= link_to album.name, album_url(album) %>
      </li>
    <% end %>
  </ul>
<% else %>
<p> No Album Added Yet </p>
<% end %>

<%= link_to ":: Edit Band Profile", edit_band_url %>
<%= link_to ":: Back to All Bands", bands_url %><br />
<%= link_to ":: Add Album", new_album_url %><br />

<form action="/bands/<%= @band.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">

  <input type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>">
  <input type="submit" value="Delete this band">
</form>
